@let _btcPrice = btcPrice();
@let _guess = guess();
@let _secondsSinceGuess = secondsSinceGuess$ | async;
@let _user = user();

<span class="spacer"></span>

<h1>Your score is: {{ _user.score }}</h1>
<span class="gap"></span>
<div class="flex-row">
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Bitcoin Price</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>${{ _btcPrice.price | number : '1.2-2' }}</h1>
  </mat-card-content>
</mat-card>
<span class="gap"></span>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Guess the price!</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @if (_guess) {
    <p>You've guessed that it will be {{ _guess.direction === GuessDirection.higher ? 'UP' : 'DOWN' }} from ${{ _guess.btcPrice | number : '1.2-2' }}</p>
    @if (_secondsSinceGuess) {
    <p>Find out if you're right in: {{ROUND_DURATION - _secondsSinceGuess}} seconds</p>
    @let _priceChange = _btcPrice.price - _guess.btcPrice;
      @if (_priceChange > 0) {
      <p>The price has gone up by {{ _priceChange | number : '1.2-2' }}</p>
      } @else {
      <p>The price has gone down by {{ _priceChange*-1 | number : '1.2-2' }}</p>
      }
    } @else {
    <p>The round has concluded</p>
    }
    } @else {
    <p>Will the price go UP or DOWN {{ ROUND_DURATION }} seconds after you guess?</p>
    }
  </mat-card-content>
  <mat-card-actions>

    @if (!_guess) {

    <button matButton (click)="createHigherGuess()">
      <mat-icon>arrow_upward</mat-icon>
      Up
    </button>
    <span class="spacer"></span>
    <button matButton (click)="createLowerGuess()">
      <mat-icon>arrow_downward</mat-icon>
      Down
    </button>
    } @else {
    <button matButton (click)="resetGuess()">
      <mat-icon>delete</mat-icon>
      Reset
    </button>
    }
  </mat-card-actions>
</mat-card>
</div>

<span class="spacer"></span>